h1 {
        color:blue;
        width: 60%;
        margin: 5% auto;
    } 
    
    main {
        width: 60%;
        margin: 5% auto;
        background: beige;
    }
    
    article{
        background-color: white;
        border: solid grey 2px;
        margin: 1% auto;
        width: 95%;
    
    }
    
    article > h3 {
        font-size: 1em;
    }
    
    article:hover {
        background: lightgray;
    }