

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.image {
    margin: 10px auto;
    max-width: 400px;
}